:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
}
body {
  background-color: var(--Grey-900);
  font-family: "Inter", sans-serif;
}
h1 {
  color: white;
  font-weight: 700;
}
h3 {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}
p {
  color: white;
  width: 100%;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.firstcontain {
  padding: 50px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 450px;
  background-color: var(--Grey-800);
  border-radius: 10px;
}
img {
  border-radius: 50%;
  height: 100px;
}
button {
    height: 50px;
  width: 100%;
  background-color: var(--Grey-700);
  color: white;
  border-radius: 10px;
  border: 1px solid var(--Grey-700);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
a:hover {
  color: hsl(0, 0%, 12%);
  opacity: 0.9;
}
button:hover {
  background-color: hsl(75, 94%, 57%);
  opacity: 0.9;
}
button:hover a {
    color: hsl(0, 0%, 12%);
}
